.expense-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1.5rem;
  font-size: 1rem;
  min-width: 40em;
  line-height: 2rem;
}

.expense-form button, input[type="submit"] {
    background-color: sienna;
    border-radius: 12px;
    padding: 12px 15px;
    color: aliceblue;
	border: none;
	cursor: pointer;
}

.expense-form__input {
  display: flex;
  align-items: flex-start;
}
.expense-form__input label {
  margin-left: 3rem;
  text-align: left;
  color: black;
  width: 100px;
}

.expense-form__input input {
    width: 200px;
}

.expense-form-row {
  width: 100%;
}
