.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: baseline;
  gap: 10px;
}

.form-control.invalid label {
  color: red;
}

.form-control.invalid input {
  background-color: pink;
  border: 1px solid red;
}

button {
  background-color: black;
  color: azure;
  border: 1px solid transparent;
  padding: 10px 20px;
}

button:hover {
  background-color: slategrey;
  cursor: pointer;
}

input {
  width: 20rem;
}

.new-card {
  background-color: skyblue;
  color: black;
}
